

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(img/1671513730_kalix-club-p-venom-oboi-na-aifon-vkontakte-3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
}
.h1p p{
    width: 300px;
}
.container{
    width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
.container .card{
max-width: 300px;
height: 420px;
background:#fff;
margin: 30px 10px;
padding: 20px 15px;
display: flex;
flex-direction: column;
box-shadow: 0 5px 202px rgba(0,0,0,0.5);
transition: 0.2s ;

}
.container .card:hover{
    height: 600px; 
}
.container .card .img{
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 202px rgba(0,0,0,0.2);
}
.container .card .img img{
    max-width: 100%;
}
.container .card .h1p{
    margin-top: -140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;

}
.container .card:hover .h1p{
    margin-top: -1px;
visibility: visible;
opacity: 1;
transition-delay: 0.2s;

}
.h1p h1{
border: 2px dashed black;
padding: 4px;
width: 140px;
}
